*.annot
*.cmo
*.cma
*.cmi
*.cmt
*.cmti
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.glob
*.vo
*.d
*.dk
*.dko
*.depend
.merlin

# emacs tmp files
*~
*#
!dedukti/Coq.dk

CoqMakefile

# Generated .aux files
src/.*.aux
test/.*.aux

debug/*.aux
*/debug.out

*/*.out
*.conf
