*.annot
*.cmo
*.cma
*.cmi
*.cmt
*.cmti
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.glob
*.vo
*.d
*.depend
.merlin

*.dko

run/debug/**/*.dk
run/test/**/*.dk
run/geocoq/**/*.dk
run/geocoq_orig/**/*.dk
run/mathcomp/**/*.dk

run/debug/out
run/test/out
run/geocoq/out
run/mathcomp/out

run/geocoq/GeoCoq
run/geocoq/Make
run/geocoq/import.v
run/geocoq/config.dk
run/geocoq/pruned

run/geocoq_orig/GeoCoq
run/geocoq_orig/Make
run/geocoq_orig/import.v
run/geocoq_orig/config.dk
run/geocoq_orig/pruned

encodings/_build

# emacs tmp files
*~
*#

CoqMakefile

# Generated .aux files
*.aux

# Debugging files
*.out
*.conf
