*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.glob
*.vo
*.d
*.dk
*.dko
*.depend
.merlin

# emacs tmp files
*~
*#
!dedukti/Coq.dk

CoqMakefile

# Generated .aux files
src/.*.aux
test/.*.aux
debug/.*.aux

# Debuging files
*/*.out
*.conf