dist: trusty
language: c

os:
  - linux

branches:
  only:
    - master

cache:
  directories:
  - $HOME/.opam

env:
  global:
  - OPAMJOBS="2"
  - OPAMYES="true"
  - OPAMVERBOSE="true"
  - OCAML_VERSION=4.09.0

before_install:
  # Obtain and install opam locally.
  - sudo wget https://github.com/ocaml/opam/releases/download/2.0.0/opam-2.0.0-x86_64-linux -O /usr/bin/opam
  - sudo chmod 755 /usr/bin/opam
  # Initialize the switch.
  - opam init -a --disable-sandboxing --compiler="$OCAML_VERSION"
  - opam update
  - opam switch "$OCAML_VERSION"
  - eval $(opam env)
  - opam pin add dedukti https://github.com/Deducteam/Dedukti.git#acu-state
  - opam install dedukti
  - opam pin add --no-action coqine .
  - opam install --deps-only coqine

install:
  - make plugin

script:
  - make plugin
  - make -C encodings
  - make
  - make tests
  - make clean
